
.container{
    background-image: url(bg4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 200px;
    margin: auto;
    padding: 20px;
    border-radius: 50px; 
    font-family: cursive; 
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);

}
.photo{
    text-align: center;
    font-size: x-large; 
}
.photo img{
    border-radius: 2000px;
}
.details{
    text-align: left;
}
hr{
    border-width: 3px;
    border-color:peru;
}
p{
    font-size: x-large;
    
}
